.box1 {
  background-image: url(images/bikepacking_5_crop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
}
.box2 {
  background-image: url(images/tent_3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}
.box3 {
  background-image: url(images/cooking_6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}
@media (max-width: 760px) {
  .box3 {
    background-image: url(images/cooking_4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
  }
}
.box4 {
  background-image: url(images/bike_5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}
.mainInfo {
  padding-left: 3em;
  padding-top: 3em;
  width: 20em;
}

.dropdown-menu a:hover {
  background-color: rgba(128, 128, 128, 0.1);
}
ul.navbar-nav > li > a:hover {
  color: rgba(0, 0, 255, 0.472) !important;
}
ul li a.cart:hover {
  text-decoration: none;
  color: #d60e96;
}

ul li a.cart .cart-basket {
  font-size: 0.6rem;
  position: absolute;
  top: -6px;
  right: -5px;
  width: 15px;
  height: 15px;
  color: #fff;
  background-color: #418deb;
  border-radius: 50%;
}

.card-title {
  height: 2rem;
  margin-top: 0.75rem;
}
img.card-img-top:hover {
  transform: scale(2);
  transition: all 0.2s linear;
}

/* DETAIL PAGE STYLING */
.container-details,
.container-admin {
  margin-top: 5rem;
}
.gallery-wrap .img-big-wrap img {
  height: auto;
  width: 27rem;
  display: inline-block;
  cursor: zoom-in;
}
.card-details {
  height: 100%;
}

/* Contact page styling */
#contacts {
  background-color: #70c3be;
  letter-spacing: 2px;
}
#contacts a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 575.98px) {
  #contacts {
    padding-bottom: 800px;
  }
  #contacts .maps iframe {
    width: 100%;
    height: 450px;
  }
}

@media (min-width: 576px) {
  #contacts {
    padding-bottom: 800px;
  }

  #contacts .maps iframe {
    width: 100%;
    height: 450px;
  }
}

@media (min-width: 768px) {
  #contacts {
    padding-bottom: 350px;
  }

  #contacts .maps iframe {
    width: 100%;
    height: 850px;
  }
}

@media (min-width: 992px) {
  #contacts {
    padding-bottom: 200px;
  }

  #contacts .maps iframe {
    width: 100%;
    height: 700px;
  }
}

#sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (min-width: 768px) {
  ul.navbar-nav {
    font-size: larger;
  }
}
